<app-navbar></app-navbar>
<div class="profilebg vh-90">
  <div class="bg">
    <div class="container pt-5 mb-4">
      <div class="">
        <div class="row">
          <div class="col-md-2 col-sm-1"></div>
          <div class="col-md-8 col-sm-10">
            <div class="shadow p-3 mb-5 bg-white p-4 rounded">

<h4>My profile</h4>
<div class="my-4">
  <!-- Display contents -->
  <div class="row">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between">
        <div class="">
          <ngx-avatar
            [size]="80"
            *ngIf="userData"
            [src]="userData?.avatar"
            [value]="userData?.name.charAt(0)"
          ></ngx-avatar>
        </div>
        <div class="flex-grow-1 ms-3">
          <h5>{{userData?.name}}</h5>
          <span>{{ userData?.email }}</span>
        </div>
        <div class="">
        </div>
      </div>
      <table class="table table-striped mt-3">
        <tbody>
          <tr>
            <th scope="row" width="20%">Name</th>
            <td>
              {{userData?.name}}
            </td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ userData?.email }}</td>
          </tr>
          <tr>
            <th>Mobile no</th>
            <td>{{ userData?.phone }}</td>
          </tr>
          <tr>
            <th>Credit</th>
            <td class="text-success">{{ userData?.balance.credit  | number: '1.2-2'}}</td>
          </tr>
          <tr>
            <th>Debit</th>
            <td class="text-danger">{{ userData?.balance.debit | number: '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Edit form -->

</div>
              <!-- <h1 class="text-center pt-4 pb-3 mt-4">My Profile</h1>
              <hr class="mx-5 pb-4" />
              <form>
                <div class="row">
                  <div class="col-md-4">
                    <img
                      src="../../../assets/noImage.png"
                      alt="user image"
                      class="img-thumbnail h-75 w-75"
                    />
                  </div>
                  <div class="col-md-8">
                    <h2>Name: {{ userData?.name }}</h2>
                    <p>e-mail: {{ userData?.email }}</p>
                    <p>Phone: {{ userData?.phone }}</p>
                    <div class="d-flex justify-content-between w-50">
                      <p class="text-success">
                        credit: {{ userData?.balance.credit  | number: '1.2-2'}}
                      </p>
                      <p class="text-danger">
                        debit: {{ userData?.balance.debit | number: '1.2-2' }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center"></div>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





























