<div class="100vh position-relative">
  <table class="table fixed-top">
    <thead>
      <tr>
        <th class="text-center bg-secondary" scope="col">
          <div class="d-flex justify-content-between">
            <div>
              <div class="btn-group">
                <button
                  title="CREATE GROUP"
                  type="button"
                  class="btn btn-white dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="true"
                >
                  <i class="bi bi-person-plus-fill"></i> ADD
                </button>
                <ul class="dropdown-menu">
                  <li
                    class="d-flex p-2"
                    *ngFor="let data of liData; let i = index"
                    (click)="getDataChek($event, data._id)"
                  >
                    <input
                      type="checkbox"
                      id="{{ i }}"
                      [checked]="chekList.includes(data._id)"
                    />
                    <label>{{ data.name }}</label>
                  </li>
                  <div class="d-flex">
                    <button
                      (click)="addUser()"
                      class="btn btn-sm btn-primary w-100"
                      type="submit"
                    >
                      <b>ADD</b>
                    </button>
                  </div>
                </ul>
              </div>
              <div
                *ngIf="role !== 'admin'"
                (click)="leavegroup()"
                class="btn-group"
              >
                <i class="bi bi-box-arrow-right"></i> &nbsp;LEAVE
              </div>
              <div *ngIf="role === 'admin'" class="btn-group">
                <button
                  title="CREATE GROUP"
                  type="button"
                  class="btn btn-white dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="true"
                >
                  <i class="bi bi-person-dash-fill"></i> REMOVE
                </button>
                <ul class="dropdown-menu">
                  <li
                    class="d-flex p-2"
                    *ngFor="let data of groupdata?.users; let i = index"
                    (click)="getDataCheked($event, data._id)"
                  >
                    <input
                      type="checkbox"
                      id="{{ i }}"
                      [checked]="chekListid == data._id"
                    />
                    <label>{{ data.id.name }}</label>
                  </li>
                  <div class="d-flex">
                    <button
                      (click)="removeUser()"
                      class="btn btn-sm btn-primary w-100"
                      type="submit"
                    >
                      <b>Remove</b>
                    </button>
                  </div>
                </ul>
              </div>
            </div>
            <b class="text-white">{{ groupdata?.name.toUpperCase() }}</b>

            <button
              class="btn btn-primary w-25"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="bi bi-wallet2"></i>&nbsp;&nbsp;&nbsp;Split an expense
            </button>

            <!-- Button trigger modal -->
            <!-- <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Launch demo modal
            </button> -->
          </div>
        </th>
      </tr>
    </thead>
  </table>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form [formGroup]="addexpense" (ngSubmit)="getexpense()">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              <i class="bi bi-wallet2"></i>&nbsp;&nbsp;&nbsp;Split an expense
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div
            class="modal-body text-center d-flex flex-column justify-content-center align-items-center"
          >
            <b>Total</b>

            <input
              type="number"
              formControlName="amount"
              min="0"
              placeholder="0"
              class="w-25 text-center"
            />
            <input
              type="text"
              formControlName="description"
              placeholder="What's this for"
              class="w-50 m-2 text-center"
            />

            <ul>
              <li
                class="d-flex p-2"
                *ngFor="let user of groupdata?.users; let i = index"
                (click)="getDataChek($event, user.id._id)"
              >
                <input
                  type="checkbox"
                  id="{{ i }}"
                  [checked]="chekList.includes(user.id._id)"
                />
                <label class="mx-3">{{ user.id.name }}</label>
              </li>
              <!-- <li *ngFor=" let user of groupdata?.users">{{user.name}}</li> -->
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              (click)="getexpense()"
              data-bs-dismiss="modal"
              aria-label="Close"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="expense.length > 0" class="container mt-5">
    <div *ngFor="let exp of expense; index as i">
      <div class="d-flex justify-content-between">
        <hr style="width: 350px" />
        <div>{{ exp.date | date : "yyyy-MM-dd HH:mm" }}</div>
        <hr style="width: 350px" />
      </div>
      <div
        [class]="exp.paidBy._id === userId ? 'd-flex justify-content-end' : ''"
      >
        <div class="accordion w-25 rounded" id="accordionExample">
          <div class="accordion-item">
            <div class="px-2">
              <b>PAIDBY: {{ exp.paidBy.name.toUpperCase() }}</b>
            </div>
            <div class="px-2">
              <b>AMOUNT: {{ exp?.splitAmounts[0]?.amount }}</b>
            </div>
            <div class="px-2"><b>DESCRIPTION: </b> {{ exp?.description }}</div>

            <a
              (click)="payamount(exp._id, exp?.splitAmounts[0]?.amount)"
              *ngIf="checkStatus(exp?.splitBetween)"
              class="btn btn-sm btn-primary m-2 w-25"
              >pay</a
            >

            <h2 class="accordion-header">
              <button
                (click)="openAccordion(i)"
                style="height: 10px"
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse-' + i"
                [attr.aria-controls]="'collapse-' + i"
                [attr.aria-expanded]="isAccordionOpen(i) ? 'true' : 'false'"
              >
                <span
                  [ngClass]="isAccordionOpen(i) ? 'bi bi-dash' : 'bi bi-plus'"
                ></span>
              </button>
            </h2>
            <div
              [id]="'collapse-' + i"
              class="accordion-collapse collapse"
              [ngClass]="{ show: isAccordionOpen(i) }"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <ul *ngFor="let user of exp?.splitBetween" class="list-group">
                  <li class="list-group-item d-flex justify-content-between">
                    <div>{{ user?.id?.name }}</div>
                    <div>{{ user?.paidstatus }}</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
