<div class="vh-100" id="groupbg">
  <table class="table fixed-top">
    <thead>
      <tr>
        <th class="text-center bg-dark" scope="col">
          <div class="d-flex justify-content-between">
            <div class="mx-3 text-light">
              <div class="mr-3">
                <ngx-avatar
                [size]="50"
                *ngIf="groupdata"
                [src]="groupdata?.avatar"
                [value]=" groupdata?.name.charAt(0)"
              ></ngx-avatar>
              </div>
            </div>
            <div
              role="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal2"
              (click)="booleanfield = true"
              class="d-flex justify-content-evenly align-items-center w-75 px-5"
            >
              <div class="text-light"></div>
              <div class="d-flex">
                <b class="bg-white px-3 py-2 shadow-sm rounded">
                  <b>{{ groupdata?.name?.toUpperCase() }}</b> &nbsp;
                </b>
              </div>
            </div>
            <button
              class="btn btn-primary w-25"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <i class="bi bi-wallet2"></i>&nbsp;&nbsp;&nbsp;Split an expense
            </button>
          </div>
        </th>
      </tr>
    </thead>
  </table>
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog">
      <div class="modal-content">
        <form [formGroup]="addexpense" (ngSubmit)="getexpense()">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              <i class="bi bi-wallet2"></i>&nbsp;&nbsp;&nbsp;Split an expense
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center d-flex flex-column">
            <div class="row mb-3">
              <!--begin::Col-->
              <div class="col-4 fv-row fv-plugins-icon-container">Amount :</div>
              <div class="col-8 fv-row fv-plugins-icon-container">
                <input
                  class="form-control"
                  type="number"
                  formControlName="amount"
                  min="0"
                  id="amount"
                  name="amount"
                  placeholder="0"
                  required
                />
              </div>
              <!--end::Col-->
            </div>
            <div class="row mb-3">
              <!--begin::Col-->
              <div class="col-4 fv-row fv-plugins-icon-container">
                Description :
              </div>
              <div class="col-8 fv-row fv-plugins-icon-container">
                <input
                  class="form-control"
                  ype="text"
                  formControlName="description"
                  placeholder="What's this for"
                  id="description"
                  name="description"
                  required
                />
              </div>
              <!--end::Col-->
            </div>
            <div class="row mb-3">
              <!--begin::Col-->
              <div class="col-4 fv-row fv-plugins-icon-container">
                SPLITBETWEEN :
              </div>
              <div class="col-8 fv-row fv-plugins-icon-container">
                <div
                  class="accordion"
                  style="width: 300px"
                  id="accordionPanelsStayOpenExample"
                >
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        style="height: 40px"
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne"
                      >
                        SPLITBETWEEN
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseOne"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body">
                        <li
                          class="d-flex p-2"
                          *ngFor="let user of groupdata?.users; let i = index"
                          (click)="getDataChek($event, user.id._id)"
                        >
                          <input
                            type="checkbox"
                            id="{{ i }}"
                            [checked]="chekList.includes(user.id._id)"
                          />
                          <label class="mx-3"
                            ><b>{{ user.id.name }}</b></label
                          >
                        </li>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Col-->
            </div>
          </div>

          <div class="d-flex gap-2 ps-3 mb-3">
            <div>
              <button
                type="submit"
                class="btn btn-primary"
                (click)="getexpense()"
                data-bs-dismiss="modal"
              >
                <i class="bi bi-wallet2"></i>&nbsp;&nbsp; Add Expense
              </button>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="expense.length > 0" class="container mt-5">
    <div *ngFor="let exp of expense; index as i">
      <div class="d-flex justify-content-between">
        <hr style="width: 350px" />
        <div>{{ exp.date | date : "yyyy-MM-dd HH:mm" }}</div>
        <hr style="width: 350px" />
      </div>
      <div
        [class]="exp.paidBy._id === userId ? 'd-flex justify-content-end' : ''"
      >
        <div class="accordion w-25 rounded" id="accordionExample">
          <div class="accordion-item">
            <div class="px-3 pt-3 pb-2">
              <div class="mb-1">
                <b>PAIDBY: {{ exp?.paidBy?.name?.toUpperCase() }}</b>
              </div>
              <div class="mb-1">
                <b>AMOUNT: {{ exp?.splitAmounts[0]?.amount }}</b>
              </div>
              <div><b>DESCRIPTION: </b> {{ exp?.description }}</div>
            </div>

            <div class="d-flex justify-content-end">
              <button
                (click)="payamount(exp._id, exp?.splitAmounts[0]?.amount)"
                *ngIf="checkStatus(exp?.splitBetween)"
                class="btn btn-outline-primary w-25 mx-5 my-2"
              >
                pay
              </button>
            </div>

            <h2 class="accordion-header">
              <button
                (click)="openAccordion(i)"
                style="height: 10px"
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse-' + i"
                [attr.aria-controls]="'collapse-' + i"
                [attr.aria-expanded]="isAccordionOpen(i) ? 'true' : 'false'"
              ></button>
              <!-- [attr.aria-expanded]="isAccordionOpen(i) ? 'true' : 'false'" -->
            </h2>
            <div
              [id]="'collapse-' + i"
              class="accordion-collapse collapse"
              [ngClass]="{ show: isAccordionOpen(i) }"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <div class="d-flex justify-content-between">
                  <div>
                    {{
                      exp?.splitBetween.length -
                        exp?.splitAmounts.length +
                        1 +
                        " of " +
                        exp?.splitBetween.length +
                        " Paid"
                    }}
                  </div>
                  <div>Total:&#8377;{{ exp.amount }}</div>
                </div>

                <ul *ngFor="let user of exp?.splitBetween" class="list-group">
                  <li class="list-group-item d-flex justify-content-between">
                    <div>
                      <b>{{ user?.id?.name }}</b>
                    </div>
                    <div class="d-flex">
                      <div class="mx-2">
                        &#8377;{{ exp?.splitAmounts[0]?.amount }}
                      </div>
                      <div>
                        <i
                          [ngClass]="
                            user.paidstatus == 'true'
                              ? 'bi-patch-check-fill text-success '
                              : 'bi-x-octagon-fill text-danger '
                          "
                          class="bi"
                        ></i>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="exampleModal2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">GROUP DETAILS</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th class="border-0 w-50">
                  <div class="d-flex gap-3">
                    <div>
                      <ngx-avatar
                        [size]="50"
                        *ngIf="groupdata"
                        [src]="groupdata?.avatar"
                        [value]="groupdata?.name.charAt(0)"
                      ></ngx-avatar>
                    </div>
                    <div *ngIf="booleanfield" class="w-25 mt-3">
                      <div>
                        {{ groupdata?.name?.toUpperCase() }} &nbsp;
                        <i
                          (click)="booleanfield = false"
                          role="button"
                          class="bi bi-pencil-square"
                        ></i>
                      </div>
                    </div>
                    <div *ngIf="!booleanfield" class="d-flex">
                      <input
                        type="text"
                        #inputvalue
                        class="input-group-text"
                        value="{{ groupdata?.name }}"
                      />&nbsp;
                      <b
                        role="button"
                        (click)="editgroupname(inputvalue.value)"
                        data-bs-dismiss="modal"
                        class="text-success fs-5"
                        ><i class="bi bi-check-lg"></i></b
                      >&nbsp;&nbsp;&nbsp;
                      <div
                        role="button"
                        (click)="booleanfield = true"
                        class="text-danger fs-5"
                      >
                        X
                      </div>
                    </div>
                  </div>
                </th>
                <th class="d-flex justify-content-end gap-2 border-0">
                  <div>
                    <button
                      (click)="leavegroup()"
                      data-bs-dismiss="modal"
                      class="btn btn-sm btn-danger"
                    >
                      <i class="bi bi-box-arrow-right"></i> &nbsp;LEAVE GROUP
                    </button>
                  </div>
                  <div>
                    <button
                      type="button"
                      class="btn btn-sm btn-primary text-white"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal3"
                    >
                      + ADD NEW USER
                    </button>
                  </div>
                </th>
              </tr>
            </thead>
          </table>
          <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
              <tr>
                <th>Name</th>
                <th>Role</th>
                <th *ngIf="role === 'admin'"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of groupdata?.users">
                <td>
                  <div class="d-flex align-items-center">
                    <ngx-avatar
                      [size]="50"
                      *ngIf="data"
                      [src]="data?.id?.avatar"
                      [value]="data?.id?.name.charAt(0)"
                    ></ngx-avatar>
                    <div class="ms-3">
                      <p class="fw-bold mb-1">{{ data?.id?.name }}</p>
                      <p class="text-muted mb-0">{{ data?.id?.email }}</p>
                    </div>
                  </div>
                </td>

                <td>{{ data?.roal }}</td>
                <td *ngIf="role === 'admin'" class="text-danger">
                  <i
                    *ngIf="data?.roal !== 'admin'"
                    role="button"
                    (click)="getDataCheked($event, data?._id)"
                    class="bi bi-box-arrow-right"
                  ></i>
                  <!-- <button type="button" class="btn btn-link btn-sm btn-rounded">
                    Edit
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="modal fade"
            id="exampleModal3"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-fullscreen">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    + ADD NEW USER
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <table
                    *ngIf="xyz.length > 0"
                    class="table align-middle mb-0 bg-white"
                  >
                    <thead class="bg-light">
                      <tr>
                        <th>Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of xyz; let i = index">
                        <td
                          (click)="getDataChek($event, data._id)"
                          class="d-flex"
                        >
                          <input
                            type="checkbox"
                            id="{{ i }}"
                            [checked]="chekList.includes(data._id)"
                          />&nbsp;&nbsp; &nbsp; &nbsp;
                          <div class="d-flex align-items-center">
                            <ngx-avatar
                              [size]="50"
                              *ngIf="data"
                              [src]="data?.avatar"
                              [value]="data?.name.charAt(0)"
                            ></ngx-avatar>
                            <div class="ms-3">
                              <div>
                                <p class="fw-bold mb-1">{{ data?.name }}</p>
                                <p class="text-muted mb-0">{{ data?.email }}</p>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <img
                    *ngIf="xyz.length <= 0"
                    class="w-100 h-100"
                    src="../../../assets/empty.png"
                    alt=""
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="button"
                    (click)="addUser()"
                    data-bs-dismiss="modal"
                    class="btn btn-primary"
                  >
                    +ADD
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
