<div class="registerbg vh-100">
  <div class="container p-1">
    <div class="d-flex justify-content-center mt-5">
      <div class="shadow p-3 mb-5 bg-body-tertiary p-4 rounded bg-white">
        <h4 class="text-center">Register New User</h4>
        <form [formGroup]="register" (ngSubmit)="collection()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label mx-2"
              >Full Name<span style="color: red">*</span></label
            >
            <div>
              <i class="fa fa-user position-absolute mt-2 ms-3"></i>
              <input
                type="text"
                class="form-control border-0 border-bottom px-5"
                formControlName="name"
                placeholder="Enter Full Name"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label mx-2"
              >Mobile No<span style="color: red">*</span></label
            >
            <div>
              <i class="bi bi-phone-fill position-absolute mt-2 ms-3"></i>
              <input
                type="number"
                class="form-control border-0 border-bottom px-5"
                formControlName="phone"
                placeholder="Enter Mobile No"
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label mx-2"
              >Email address<span style="color: red">*</span></label
            >
            <div>
              <i class="fa fa-envelope position-absolute mt-2 ms-3"></i>
              <input
                type="email"
                class="form-control border-0 border-bottom px-5"
                formControlName="email"
                placeholder="Enter Email address"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label mx-2"
              >Password<span style="color: red">*</span></label
            >
            <div>
              <i class="fa fa-key position-absolute mt-2 ms-3"></i>
              <input
                type="password"
                class="form-control border-0 border-bottom px-5"
                formControlName="password"
                placeholder="Enter Password"
              />
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button
              [disabled]="register.invalid"
              type="submit"
              class="btn btn-primary border border-3 w-50 rounded-pill"
            >
              <b class="text-light">Register</b>
            </button>
          </div>
          <p class="text-center">
            <a routerLink="/auth/login"><small>LOGIN</small></a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
