<nav class="navbar navbar-expand-lg bg-dark ">
  <div class="container-fluid">
    <div class="navbar-brand text-light" role="button" routerLink="/home/dashboard">
      <b><i class="bi bi-house-fill"></i>&nbsp;HOME</b>
    </div>

    <div class="d-flex justify-content-end">
      <div
        class="navbar-brand text-light"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <b ><i class="bi bi-people "></i>&nbsp; CREATE</b>
      </div>
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  CREATE NEW GROUP
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="form-group" [formGroup]="login">
                  <div class="row mb-3">
                    <!--begin::Col-->
                    <div class="col-4 fv-row fv-plugins-icon-container">
                      GROUP NAME:
                    </div>
                    <div class="col-8 fv-row fv-plugins-icon-container">
                      <input
                        class="form-control"
                        formControlName="name"
                        placeholder="GROUP NAME"
                        required
                      />
                      <div
                        class="fv-plugins-message-container invalid-feedback"
                      >
                        <small class="text-danger">Tax Name is required</small>
                      </div>
                    </div>
                    <!--end::Col-->
                  </div>
                  <div class="row mb-3">
                    <!--begin::Col-->
                    <div class="col-4 fv-row fv-plugins-icon-container">
                     <div> ADD NEW USER:</div>

                    </div>
                    <div class="col-8 fv-row fv-plugins-icon-container">
                      <ng-container formArrayName="users">
                        <div
                          *ngFor="
                            let userControl of usersArray.controls;
                            index as i
                          "
                        >
                          <input
                            class="form-control mb-3"
                            [formControlName]="i"
                            value=""
                            placeholder="ADD NEW USER"
                            required
                          />
                          <div
                            *ngIf="isEmailNotUnique(userControl.value, i)"
                            class="text-danger"
                          >
                            Email must be unique.
                          </div>
                        </div>
                      </ng-container>

                      <div
                        class="fv-plugins-message-container invalid-feedback"
                      >
                        <small class="text-danger">Tax Name is required</small>
                      </div>
                    </div>
                    <!--end::Col-->
                  </div>


                </div>
              </div>

              <div class="d-flex gap-2 ps-3 mb-3">
                <div>
                  <button type="button" class="btn btn-primary" (click)="createGroup()"
                  data-bs-dismiss="modal"  [disabled]="login.invalid">
                CREATE
                  </button>
                </div>
                <div>
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" >
                    Cancel
                  </button>
                </div>
                <div>
                  <button
                  (click)="onAddUser()"
                  [disabled]="login.invalid"
                  class="btn btn-success"
                >
                  <b>+</b>&nbsp;ADD
                </button>
                </div>

              </div>
              
            </form>
          </div>
        </div>
      </div>

      <div class="navbar-brand text-light" role="button" routerLink="/home/profile">
        <b ><i class="bi bi-person-fill bg-"></i>&nbsp;PROFILE</b>
      </div>
      <button
        (click)="alertfun()"
        type="button"
        title="logout"
        class="btn btn-info ms-3"
        id="navbarNavAltMarkup"
      >
        <i class="fa fa-sign-out" title="logout" style="font-size: 24px"></i>
      </button>
    </div>
  </div>
</nav>
