<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-brand" role='button' routerLink="/home/dashboard"
      ><b><i class="bi bi-house-fill"></i>&nbsp;HOME</b></div
    >

    <div class="d-flex justify-content-end">
      <!-- Example single danger button -->
      <div class="btn-group">
        <button
              class="btn btn-white"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
            <i style="font-size:20px" class="fa"> &#xf0c0; CREATE</i>
            </button>
      </div>
      <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                <i style="font-size:20px" class="fa"> &#xf0c0;</i>&nbsp;&nbsp;&nbsp;CREATE NEW GROUP
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div
              class="modal-body text-center d-flex flex-column justify-content-center align-items-center"
            >
              <div class="form-group" [formGroup]="login">
                <div class="form-group">
                  <label for="description">GROUP NAME:</label>
                  <input type="text" formControlName="name"  class="form-control text-center" placeholder="GROUP NAME"  required>
                </div>
                <label for="description">ADD NEW USER:</label>
                <ng-container formArrayName="users">
                  <div *ngFor="let userControl of usersArray.controls; index as i">
                    <input type="text" [formControlName]="i" class="form-control text-center mt-2" value="" placeholder="ADD NEW USER" required>
                    <div *ngIf="isEmailNotUnique(userControl.value, i)" class="text-danger">Email must be unique.</div>
                  </div>
                </ng-container>
                <button (click)="onAddUser()" [disabled]="login.invalid" class="btn btn-primary btn-sm btn-add mt-3">
                  <i>+</i>ADD NEW USER
                </button>
              </div>   
            </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                (click)="createGroup()"
                data-bs-dismiss="modal"
                aria-label="Close"
                [disabled]="login.invalid"
                class="btn btn-primary"
              >
              <i style="font-size:20px" class="fa"> &#xf0c0;</i>&nbsp;&nbsp; CREATE
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
      <div class="navbar-nav pe-2">
        <div
        role='button'
          class="nav-link active text-dark"
          aria-current="page"
          routerLink="/home/profile"
          ><b><i class="bi bi-person-fill"></i>&nbsp;PROFILE</b></div
        >
      </div>
      <button
        (click)="alertfun()"
        type="button"
        title="logout"
        class="btn btn-info ms-3"
        id="navbarNavAltMarkup"
      >
        <i class="fa fa-sign-out" title="logout" style="font-size: 24px"></i>
      </button>
    </div>
  </div>
</nav>
